* {
  font-family: "Inter";
}

.dot {
  height: 15px;
  width: 15px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
}

.card {
  /*width: 190px;*/
  height: 500px;
  background: rgb(236, 236, 236);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}

.dots {
  animation: rotation 25s infinite linear;
}

.bounce {
  animation: bounce 10s infinite linear;
}

@keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  50% {
      transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
